* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
    60deg,
    rgb(219, 2, 89) 15%,
    rgb(255, 240, 120) 80%
  );
  background-size: 200% 200%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
  color: rgb(255, 255, 255);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100vw;
}

/* selector btn */

.btn-cont {
  background-color: rgba(195, 232, 240, 0.342);
  border-radius: 0.55rem;
  padding: 0.15rem;
  width: auto;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
}

.selector-btn {
  /* margin-top: 1rem; */
  /* margin-bottom: 1rem; */
  padding: 0.5rem;
  color: white;
  width: 8rem;
  font-size: 0.68rem;
  background-image: linear-gradient(
    4deg,
    rgb(209, 54, 114) 1%,
    rgb(226, 122, 108) 99%
  );
  border-radius: 0.5rem;
  border: solid 0.1rem;
}

.btn-map {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btn-calc {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.selector-btn:hover {
  filter: brightness(1.25);
}

.btn-sel {
  border-color: rgb(214, 1, 86) !important;
}

/* mapa de locales */

.map-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 90vw;
  height: 90vh;
}

#map {
  width: 90vw;
  height: 70%;
  border-radius: 1rem;
  color: rgb(214, 1, 86);
}

.map-title {
  max-width: 35rem;
  width: 90vw;
  height: 25%;
  align-items: flex-start;
  /* text-align: start; */
}

.glass-cont {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  height: 100%;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.315) 14.7%,
    rgba(216, 203, 203, 0.342) 73%
  );
  backdrop-filter: blur(0.5rem);
  border-radius: 1rem;
}

.title-cont {
  height: 7.5%;
  margin: 0.5rem;
}

.title-cont h2 {
  font-size: 1.1rem;
}

.desc-cont {
  height: 87.5%;
  margin: 0.5rem;
}

.desc-cont p {
  height: 30%;
  font-size: 0.8rem;
}

.simbols-desc-cont {
  height: 65%;
}

.simbols-desc {
  display: flex;
  width: 100%;
  height: 40%;
  align-items: center;
}

.simbols-desc p {
  font-size: 0.75rem;
}

.simbols-desc img {
  width: 2rem;
  height: 2rem;
}

.map-cont-not {
  display: none;
}

/* calculador de propina */

.tip-calc {
  width: 90vw;
  height: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tip-calc .glass-cont {
  width: auto;
  /* max-width: 40rem; */
  height: auto;
  padding: 0.25rem;
  margin: 0.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.8rem;
}

.calc {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  width: 70%;
  height: auto;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(
    45deg,
    rgba(219, 2, 121, 0.267) 15%,
    rgba(219, 2, 89, 0.349) 80%
  );
  backdrop-filter: blur(0.5rem);
  border-radius: 4rem;
}

.visor {
  min-width: 10rem;
  height: auto;
  background-color: rgba(255, 255, 255, 0.644);
  color: rgb(200, 0, 80);
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.btn-tip {
  padding: 0.5rem;
  background-color: rgb(200, 0, 80);
  backdrop-filter: blur(0.5rem);
  border-radius: 1rem;
  border: 0.15rem solid rgba(255, 239, 120, 0.575);
  color: white;
  margin-top: 0.5rem;
}

.btn-tip:hover {
  filter: brightness(1.2);
}

.other-val {
  width: 7rem;
  padding: 0.25rem;
  background-color: rgba(255, 255, 255, 0.644);
  border: 0.15rem solid rgba(255, 239, 120, 0.575);
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  color: rgb(209, 54, 114);
  font-weight: bolder;
}

.other-val::-webkit-input-placeholder {
  text-align: center;
  justify-content: center;
}

.tip-calc-not {
  display: none;
}

/* /calculador de propina */

footer {
  display: flex;
  text-align: center;
  justify-content: center;
}

footer p {
  font-size: 0.75rem;
}
@media (min-width: 650px) {
  body {
    background-image: linear-gradient(
      45deg,
      rgb(200, 0, 80) 20%,
      rgb(255, 240, 120) 73%
    );
    background-size: 200% 200%;
  }

  main {
    text-align: start;
  }

  .map-cont {
    margin-top: 1.5rem;
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 90vw;
    height: 90vh;
  }

  #map {
    width: 70%;
    height: 90%;
    border-radius: 1rem;
    color: rgb(200, 0, 80);
  }

  .map-title {
    width: 20%;
    height: 90%;
    align-items: flex-start;
    /* text-align: start; */
  }

  .glass-cont {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.315) 14.7%,
      rgba(195, 232, 240, 0.342) 73%
    );
    backdrop-filter: blur(0.5rem);
    border-radius: 1rem;
  }

  .title-cont {
    height: 10%;
    margin: 0.5rem;
  }

  .desc-cont {
    height: 80%;
    margin: 0.5rem;
  }

  .desc-cont p {
    height: 37.5%;
  }

  .simbols-desc-cont {
    height: 60%;
  }

  .simbols-desc {
    display: flex;
    width: 100%;
    height: 30%;
    align-items: center;
  }

  .simbols-desc p {
    font-size: 0.8rem;
  }

  .simbols-desc img {
    width: 2rem;
    height: 2rem;
  }

  .map-cont-not {
    display: none;
  }

  .tip-calc {
    height: 90vh;
  }

  .tip-calc .glass-cont {
    width: auto;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }

  .calc {
    max-width: 30rem;
  }
}

@media (min-width: 1070px) {
  .map-title {
    width: 20%;
    height: 40%;
    align-items: flex-start;
  }

  .title-cont {
    height: 5%;
  }

  .simbols-desc-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .map-cont-not {
    display: none;
  }
}
